body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-10px;
  top:0px;
  width:310px;
  height:400px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:400px;
}
#u1 {
  position:absolute;
  left:2px;
  top:192px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
